{% extends "_base.njk" %}
{% set active_id = "404" %}
{% block body_class %}{% endblock %}

{% block meta_title %}Page Not Found{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="page-title">Page not found</h1>
	</div>
{% endblock %}
