html {
    background: $content-background-color;
    color: $body-color;
    font-family: $body-font-family;
    word-wrap: break-word;
}

body {
    display: block;
    position: relative;
}

a {
    color: $link-color;

    &:hover {
        color: lighten($link-color, 30);
    }

    &:visited {
        color: darken($link-color, 15);
    }
}

p {
    margin-bottom: 1rem;
    line-height: 1.5 !important;
}

// Pre-formatted and code-formatted text uses the monospace system font
code, kbd, pre, samp {
  font-family:
    /* macOS 10.10+ */ Menlo,
    /* Windows 6+ */ Consolas,
    /* Android 4+ */ Roboto Mono,
    /* Ubuntu 10.10+ */ Ubuntu Monospace,
    /* KDE Plasma 5+ */ Noto Mono,
    /* KDE Plasma 4+ */ Oxygen Mono,
    /* Linux/OpenOffice fallback */ Liberation Mono,
    /* fallback */ monospace;
}
