// Colors
$primary-color: #090c08ff;
$secondary-color: #474056ff;
$background-color: #b9c6aeff;
$content-background-color: #f2f2f2ff;
$link-color: $primary-color;

// Fonts
$header-font-family: "Recursive", Helvetica, Arial, sans-serif;
$body-font-family: Helvetica, Arial, sans-serif;
$body-color: #575756;
$heading-color: #000000;


// Standard widths
$container-width: 1200px;
